

@if (TempData["alertMsg"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["alertMsg"]");
            };
    </script>
}
<div class="contentDetail">
    <div class="popularAudio">
        @Html.Raw(TempData["msg"])
        <span class="btnTitle">Popular Audios</span>
        <br>
        <br>
        <br>
        <br>
        @{
                var db = new BTLCsharp.EF.Model2();
                var audios = db.Audios.OrderByDescending(s => s.views).ToList();
                var showedAudio = audios.Take(20);
                foreach (var audio in showedAudio)
                {
                <div class="audio col-6">
                    <div class="audioName">
                        <a href="@Url.Action("ListeningModes","Audio", new {id = audio.idAudio})">@audio.audioName</a>
                    </div>
                    <div class="extraInfo" style="font-size: 15px;">( Author: @db.Users.Find(audio.idUser).meta_username | Level : @audio.level | Category : @audio.Category )</div>
                </div>
            }

        }

        <br /><br />

    </div>
    <div class="Category">
        <hr>
        <br />
        <br>
        <span class="btnTitle">Category</span>
        <br>
        <br>
        <br>

        @{

            var listCategories = db.Categories.ToList();
            foreach (var obj in listCategories)
            {
                string url = "~/Content/image/corporateDevelopment.jpg";

                <a href="@Url.Action("AudioByCategory","Audio", new { category = obj.meta_Category.Replace(' ','-') })">
                    <div class="categoryContent col-5">
                        <div class="img col-4">
                            <img src="@Url.Content(obj.urlImg)" alt=@obj.urlImg>
                        </div>
                        <div class="imgInfo col-8">
                            <div class="categoryName">
                                @obj.nameCategory
                            </div>
                            <div class="description">Brief Description : <span style="color: black">@obj.briefIntroduce</span> </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>