
<div class="header">
    <div class="reference">
        <div class="logo-slogan col-5">
            <div class="logo">
                <img src="~/Content/image/logo10.png" alt="">
            </div>
        </div>
        <div class="login-signup col-7">
            <div class="btnSignUp-btnLogin">

                @if (Session["USER_SESSION"] != null)
                {
                    <span class="btnSignUp2">@Html.ActionLink("LogOut", "LogOut", "User")</span>
                    <span style="background-color:#eb902d; padding: 10px 15px ; color : purple; border-radius: 10px;"> <span style="color: white; font-size: 18px;">User:</span> @Session["USER_SESSION"]</span>

                }
                else
                {
                    <span class="btnSignUp2">@Html.ActionLink("SignUp", "SignUp", "User")</span>
                    <span class="btnLogin2">@Html.ActionLink("Login", "Login", "User")</span>
                }

            </div>
            <br>
            <div class="link">

                <a href="http://zingme.com" target="_blank">
                    <img src="~/Content/image/zingme.png" alt="">
                </a>
                <a href="http://youtube.com" target="_blank">
                    <img src="~/Content/image/youtube1.png" alt="">
                </a>
                <a href="http://twitter.com" target="_blank">
                    <img src="~/Content/image/twitter.jpg" alt="">
                </a>
                <a href="http://linkedin.com" target="_blank">
                    <img src="~/Content/image/linkdin1.png" alt="">
                </a>
                <a href="http://google.com" target="_blank">
                    <img src="~/Content/image/google1.jpg" alt="">
                </a>
                <a href="http://facebook.com" target="_blank">
                    <img src="~/Content/image/fb1.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="topnav" id="myTopnav">
        <a href="/Home/Index" class="active">Home</a>
        <div class="dropdown">
            <button class="dropbtn">
                Category
            </button>
            <div class="dropdown-content">
                @{
                    var db = new BTLCsharp.EF.Model2();
                    var listCategories = db.Categories.ToList();
                    for (int i = 0; i < listCategories.Count; i++)
                    {

                        <a href="@Url.Action("AudioByCategory","Audio", new {category =listCategories[i].meta_Category.Replace(' ','-')  })" style="width: 25%; padding: 5px; margin: 0px; float: left;">@listCategories[i].nameCategory.ToString()</a>
                    }


                }

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Level
            </button>
            <div class="dropdown-content">
                @{
                    var listLevel = db.Audios.Select(s => s.level);
                    var levels = listLevel.Distinct().ToArray();
                    for (int i = 0; i < levels.Count(); i++)
                    {
                        if (i % 4 == 0)
                        {
                            <br />
                        }
                        <a href="@Url.Action("AudioByLevel","Audio", new { level = levels[i]})">@levels[i].ToString()</a>
                    }

                }
            </div>
        </div>
        <a href="#about">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="showNav();">&#9776</a>

    </div>
</div>