<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen And Write</title>

    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/Content/myFunction.js")
    @Styles.Render("~/Content/styleChart.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script language='javascript' type='text/javascript'>
        function alertSubmitAudio() {
            var msg = @TempData["alertMsg"];
            if (msg == true) {
                alert("You must login to can submit new audio !");
            }
        }
    </script>

</head>
<body>
    <div class="containerPage">

        @Html.Partial("_Header")
        <div class="content-body">
            @Html.Partial("_Slides")
            <div class="Content">
                @RenderBody()
                @Html.Partial("_Sidebar")

            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
