
<div class="sidebar hvr-backward">
    <div class="symbol hvr-grow-shadow">
        <a href="#">
            <img src="~/Content/image/success.jpg" alt="you can do it">
        </a>
    </div>
    <br>
    <br>
    <div>
        <span id="icon">
            <img src="~/Content/image/add.png" alt="add Audios">
        </span>
        @Html.ActionLink("Add Category", "AddCategory", "Audio")
        <br /><br />
        @Html.ActionLink("Submit new Audio !", "SubmitAudio", "Audio")

    </div>
    <br>
    <div>
        <a href="#">Popular Audios !</a>
    </div>
    <br>
    <div>
        @Html.ActionLink("View YourScore", "viewScore", "User")
        <br />
        <br />
    </div>
    <br>
    <br>
    <div>
        <h3 style="color: blue;">Top Active Learner</h3>
        <hr>
        <br />

        @{
            var db = new BTLCsharp.EF.Model2();
            var topUser = db.Users.OrderByDescending(u => u.totalScores).ToList().Take(10);
            foreach (var u in topUser)
            {
                <div style="margin-bottom: 20px;  clear:both;">
                    <div style="width: 30%; float: left; padding: 5px; margin-left: 30px; text-align: left;"><span>@u.meta_username</span></div>
                    <div style="width: 50%; float: left; padding: 5px;"><span>@u.totalScores</span></div>
                </div>
            }
        }

        <br />
        <hr>
    </div>

</div>