
@{
    ViewBag.Title = "viewBMScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="width: 80%; float:left; border-top: 2px solid blue; background-color: #ffffff; border-radius: 10px;">
    <div class="titleGraph">
        The graph indicate your historical Score
    </div>
    @{
        var db = new BTLCsharp.EF.Model2();
        var dao = new BTLCsharp.Dao.UserDao();
        var user = new BTLCsharp.EF.User();
        user = dao.GetById((string)(Session["USER_SESSION"]));
        var objScores = ViewBag.obj;
        var listScores = ViewBag.listScores;
        var maxScoreInG = ViewBag.maxScoreIsShowedG;
        if (listScores != null)
        {
            <ul>
                <li>
                    <div style="color:blue; margin-left: 30px;">
                        Player : <b style="color: blue">@ViewBag.player</b>
                    </div>
                </li>
                <br />
                <li>
                    <div style="color:orangered; margin-left: 30px;">
                        Your historical score !
                    </div>
                </li>
            </ul>

            <div class="chart">
                @{
                    int optionView = maxScoreInG / 500;
                    int jump = 20;
                    int peak = 500;
                    switch (optionView)
                    {
                        case 0: { } break;
                        case 1: { jump = 40; peak = 1000; } break;
                        case 2: { jump = 60; peak = 1500; } break;
                        case 3: { jump = 80; peak = 2000; } break;
                        default: { } break;

                    }
                    <div class="horizontalLine">
                        @{
                            for (int i = peak; i >= 0; i -= jump)
                            {
                                <div class="row" style="height:20px; "><span class="sign"></span><span>@i</span></div>
                            }
                        }
                        @*<div class="row"><span class="sign"></span><span>400</span></div>
                <div class="row"><span class="sign"></span><span>380</span></div>
                <div class="row"><span class="sign"></span><span>360</span></div>
                <div class="row"><span class="sign"></span><span>340</span></div>
                <div class="row"><span class="sign"></span><span>320</span></div>
                <div class="row"><span class="sign"></span><span>300</span></div>
                <div class="row"><span class="sign"></span><span>280</span></div>
                <div class="row"><span class="sign"></span><span>260</span></div>
                <div class="row"><span class="sign"></span><span>240</span></div>
                <div class="row"><span class="sign"></span><span>220</span></div>
                <div class="row"><span class="sign"></span><span>200</span></div>
                <div class="row"><span class="sign"></span><span>180</span></div>
                <div class="row"><span class="sign"></span><span>160</span></div>
                <div class="row"><span class="sign"></span><span>140</span></div>
                <div class="row"><span class="sign"></span><span>120</span></div>
                <div class="row"><span class="sign"></span><span>100</span></div>
                <div class="row"><span class="sign"></span><span>80</span></div>
                <div class="row"><span class="sign"></span><span>60</span></div>
                <div class="row"><span class="sign"></span><span>40</span></div>
                <div class="row"><span class="sign"></span><span>20</span></div>
                <div class="row"><span class="sign"></span><span>0</span></div>*@

                    </div>
                    <div class="verticalLine">
                        @{
                            foreach (var obj in objScores)
                            {
                                String highGraph = (peak + jump) + "px";
                                String highCol = (obj.score*20/jump) + "px";
                                <div class="col" style="height:520px;"><span class="tick"></span><span class="date">@obj.dayLearned</span><span class="tooltipText">@obj.score</span><span class="point" style="height: @highCol; padding: 0px 10px; bottom: 0px; right: -10px;"></span></div>
                            }
                        }

                    </div>
                }
            </div>
            <div style="margin: 700px auto 100px auto; text-align: center; width: 50%;">
                <h3>The table show your process </h3>
                <div style="clear: both">
                    <span style="float: left; width: 50%; text-align: center; color: palevioletred;border: 1px solid gray;">
                        <h3>DateTime</h3>
                    </span>
                    <span style="float: left; width: 50%; text-align: center; color: palevioletred;border: 1px solid gray;">
                        <h3>Score</h3>
                    </span>
                </div>
                @{
                    foreach (var obj in listScores)
                    {
                        <div style="clear: both;">
                            <span style="float: left; width: 50%; text-align: center; border: 1px solid gray;padding: 10px;">
                                @obj.dayLearned
                            </span>
                            <span style="float: left; width: 50%; text-align: center; border: 1px solid gray;padding: 10px;">
                                @obj.score
                            </span>
                        </div>
                    }
                }

                <div style="clear: both">
                    <span style="float: left; width: 50%; text-align: center; color: palevioletred;border: 1px solid gray;">
                        <h3>TotalScore</h3>
                    </span>
                    <span style="float: left; width: 50%; text-align: center; color: palevioletred;border: 1px solid gray;">
                        <h3>@user.totalScores</h3>
                    </span>
                </div>
            </div>

        }
        else
        {
            <h2 style="text-align: center; color: red; font-weight: bold">Please learn more too see your historical Scores</h2>
        }
    }
</div>

