
@{
    ViewBag.Title = "addScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>addScore</h2>
<h2>@ViewBag.day</h2>
<h2>@ViewBag.score</h2>
<h2>@ViewBag.oldScore</h2>
<h2>@ViewBag.newScore</h2>
<h2>@ViewBag.id</h2>
<h2>@ViewBag.oldscore</h2>

