
@{
    ViewBag.Title = "fullMode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var audio = ViewBag.audio;
}
<div class="contentDetail">
    <div class="infoAudio col-12">
        <div class="level col-2">

            Level : @audio.level

        </div>
        <div class="nameAudio col-10">
            @audio.audioName

        </div>
    </div>
    <div style="width: 80%; margin: 50px auto; text-align: center;">
        <h3>Play Audio</h3>
        <br />
        <span id="btnPlay" onclick="playAudio();"><img src="~/Content/image/playAudio.jpg" style="width: 100px; height:auto;" alt="Play Button" /></span>
        <div>
            <audio id="audio" controls="controls" style="width: 100%; margin: auto; display:none;">
                <source src="@Url.Content(audio.urlAudio)" type="audio/mp3" />
            </audio>

        </div>
        <div>
            <p id="startTime"></p>
        </div>
    </div>
    <div class="contentAudio">
        @{
            string contentAudio = ViewBag.contentAudio;
            string[] arrayString = contentAudio.Split(new char[] { ' ' });
            for (int i = 0; i < arrayString.Length; i++)
            {
                <span class="partString" style="display: none;">@arrayString[i]</span>
            }
        }
    </div>
    <div class="inputText">
        <input type="text" id="inputData" value="" placeholder="Type a word here " onkeyup="checkFullMode();" />
    </div>
    <br /><br />
    <div style="text-align: center;">
        <input type="button" value="Suggest" onclick="suggestLetter();" class="btnNext">
        <span id="suggestedLetters" style="color: purple; font-weight:bold"></span>
        <input type="button" value="NextString" onclick="nextString();" class="btnNext" style="background-color: gray; color: white;">
        <br />
        <div style="color: black; font-size: 14px;">
            <div>
                You can use "Suggest" button to show one letter of a word ... !
            </div>
            <div>
                You can use "NextString" button to ignore current word ... !
            </div>
        </div>
        <br />
        <br />
        <div style="color: orange;">
            <div class="col-1">Your score</div>
            <div class="col-2">Min: 0</div>
            <div class="col-6" style="background-color:gray; border-radius: 5px;">
                <div style=" background-color:orange; border-radius: 5px; color: white; padding: 5px; text-align:right; width: 0%;" id="score"></div>
            </div>
            <div class="col-2">Max: <span id="maxScore"></span></div>
        </div>
        <div style="clear: both;">
            <br />
            <br />


            <a id="submitLink" href="/Audio/addScore/?score=0"><button class="btnSubmit" style="width: 20%; background-color: #2d4de9">Submit</button></a>
        </div>
    </div>
    <script>
        var index = 0;
        var tempString = "";
        var listString = document.getElementsByClassName("partString");
        var maxScoreTag = document.getElementById("maxScore");

        // Cong thuc tinh diem trong che do fullMode
        var maxScrore = (@audio.level + 1) * listString.length;
        maxScoreTag.innerHTML = maxScrore;
        var marked = 0;
        var btnPlay = document.getElementById("btnPlay");
        var audio = document.getElementById("audio");
        function playAudio() {
            btnPlay.setAttribute("style", "display: none");
            audio.setAttribute("style", "display: display");
            audio.paused ? audio.play() : audio.pause();
        }
        function checkFullMode() {
            var input = document.getElementById("inputData");
            var currentString = listString[index];
            var temp1 = input.value.toLowerCase();
            var temp2 = currentString.innerHTML.toLowerCase();
            if (temp2.indexOf(temp1) == 0) {
                input.value = input.value;
                tempString = input.value;
            }
            else {
                input.value = tempString;
            }

            if (temp1.length == temp2.length) {
                currentString.setAttribute("style", "display: display");
                input.value = "";
                tempString = "";
                index++;
                marked++;
                var score = document.getElementById("score");
                var submitLink = document.getElementById("submitLink");
                score.innerHTML = Math.floor((marked / listString.length) * maxScrore);
                var width = Math.floor(marked / listString.length * 100);
                var style = " background-color:green; border-radius: 5px; color: white; padding: 5px; text-align:right; width:" + width + "%;";
                score.setAttribute("style", style);
                var href = "/Audio/addScore/?score=" + Math.floor((marked / listString.length) * maxScrore);
                submitLink.setAttribute("href", href);
            }
        }
        function suggestLetter() {
            var suggestedLetter = document.getElementById("suggestedLetters");
            var letter = listString[index].innerHTML.substr(tempString.length, 1);
            if (tempString.length > listString[index].length / 2) {
                marked--;
            }
            suggestedLetter.innerHTML = letter;

        }

        function nextString() {
            listString[index].setAttribute("style", "display: display");
            var input = document.getElementById("inputData");
            input.value = "";
            index++;
        }
        if (index == listString.length) {
            alert("You have already completed the lession ! ");
        }
    </script>
</div>
