
@{
    ViewBag.Title = "quickMode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var audio = ViewBag.audio;
}
<div class="contentDetail">
    <div class="infoAudio col-12">
        <div class="level col-2">

            Level : @audio.level

        </div>
        <div class="nameAudio col-10">
            @audio.audioName

        </div>
    </div>
    <div style="width: 80%; margin: 50px auto; text-align: center;">
        <h3>Play Audio</h3>
        <br />
        <span id="btnPlay" onclick="playAudio();"><img src="~/Content/image/playAudio.jpg" style="width: 100px; height:auto;" alt="Play Button" /></span>
        <div>
            <audio id="audio" controls="controls" style="width: 100%; margin: auto; display:none;">
                <source src="@Url.Content(audio.urlAudio)" type="audio/mp3" />
            </audio>

        </div>
    </div>
    <div class="contentAudio">
        @{
            string contentAudio = ViewBag.contentAudio;
            string[] arrayString = contentAudio.Split(new char[] { ' ' });
            for (int i = 0; i < arrayString.Length; i++)
            {
                <span class="partString" style="display: none;">@arrayString[i]</span>
            }
        }
    </div>
    <div class="inputText">
        <input type="text" value="" placeholder="Type a first letter " id="inputLetter" onkeyup="checkQuickMode();">
    </div>
    <div style="text-align: center; margin: 20px; font-size: 16px;">
        <span style="color: blueviolet;">You can use the button : "NextString" to ignore the current blank </span>
        <input type="button" value="NextString" onclick="nextString();" class="btnNext">
        <br />
        <br /><br />
        <div style="color: orange;">
            <div class="col-1">Your score</div>
            <div class="col-2">Min: 0</div>
            <div class="col-6" style="background-color:gray; border-radius: 5px;">
                <div style=" background-color:orange; border-radius: 5px; color: white; padding: 5px; text-align:right; width: 0%;" id="score"></div>
            </div>
            <div class="col-2">Max: <span id="maxScore"></span></div>
        </div>
        <div style="clear: both;">
            <br />
            <br />


            <a id="submitLink" href="/Audio/addScore/?score=0"><button class="btnSubmit" style="width: 20%; background-color: #2d4de9">Submit</button></a>
        </div>
    </div>
    <script>
        var index = 0;
        var listString = document.getElementsByClassName("partString");
        var maxScoreTag = document.getElementById("maxScore");
        // Cong thuc tinh diem trong che do quickMode 
        var maxScrore = @audio.level *listString.length;
        maxScoreTag.innerHTML = maxScrore;
        var marked = 0;
        var btnPlay = document.getElementById("btnPlay");
        var audio = document.getElementById("audio");
        function playAudio() {
            btnPlay.setAttribute("style", "display: none");
            audio.setAttribute("style", "display: display");
            audio.paused ? audio.play() : audio.pause();

        }
        function checkQuickMode() {
            var input = document.getElementById("inputLetter");
            var currentString = listString[index];
            var temp1 = input.value.toLowerCase();

            var temp2 = currentString.innerHTML.toLowerCase();
            if (temp2.indexOf(temp1) == 0) {
                currentString.setAttribute("style", "display: display");
                index++;
                marked++;
                var score = document.getElementById("score");
                var submitLink = document.getElementById("submitLink");
                score.innerHTML = Math.floor((marked / listString.length) * maxScrore);
                var width = Math.floor(marked / listString.length * 100);
                var style = " background-color:green; border-radius: 5px; color: white; padding: 5px; text-align:right; width:" + width + "%;";
                score.setAttribute("style", style);
                var href = "/Audio/addScore/?score=" + Math.floor((marked / listString.length) * maxScrore);
                submitLink.setAttribute("href", href);
                input.value = "";
            }
            else {
                input.value = "";
            }
        }

        function nextString() {
            var listString = document.getElementsByClassName("partString");
            var currentString = listString[index];
            currentString.setAttribute("style", "display: display");
            index++;
        }

        if (index == listString.length) {
            alert("You have already completed the lession ! ");
        }
    </script>
</div>
