@model BTLCsharp.Models.FormInputAudio

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitAudio</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="wrapperSubmitAudio">
        <div class="modal"></div>
            <div class="idSubmitAudio">
               

                @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="containerSubmitAudio" style="width:65%">
                    <span class="close" onclick='window.location = "@Url.Action("Index", "Home")";'>&times;</span>
                    <h1>Submit Audio</h1>
                    <hr />
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <br />
                    <div>
                        @Html.LabelFor(model => model.audioName, htmlAttributes: new { @class = "label" })
                        <div>
                            @Html.EditorFor(model => model.audioName, new { htmlAttributes = new { @class = "inputData" } })
                            @Html.ValidationMessageFor(model => model.audioName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.LabelFor(model => model.level, htmlAttributes: new { @class = "label" })
                        <div>
                            @Html.EditorFor(model => model.level, new { htmlAttributes = new { @class = "inputData" } })
                            @Html.ValidationMessageFor(model => model.level, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.LabelFor(model => model.categoryAudio, htmlAttributes: new { @class = "label" })
                        <div>
                            @{
                                var db = new BTLCsharp.EF.Model2();

                                var listCategories = db.Categories.ToList();
                                var listNameCategory = new List<SelectListItem>();
                                foreach(var obj in listCategories)
                                {
                                    listNameCategory.Add(new SelectListItem { Text = obj.meta_Category, Value = obj.meta_Category });
                                }

                                listNameCategory.Add(new SelectListItem { Text = "Other", Value = "Undefined !" });

                            }
                            @Html.DropDownListFor(model => model.categoryAudio, listNameCategory, htmlAttributes: new { @class = "dropList", @style = "color: green; padding: 5px; width: 50%; margin: 10px auto; font-size: 18px; text-align: center;" })
                            @Html.ValidationMessageFor(model => model.categoryAudio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.LabelFor(model => model.transcriptAudio, htmlAttributes: new { @class = "label" })
                        <div>
                            @Html.TextAreaFor(model => model.transcriptAudio, htmlAttributes: new { @class = "inputTextArea", @cols = 100, @rows = "10" })
                            @Html.ValidationMessageFor(model => model.transcriptAudio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.LabelFor(model => model.urlAudio, htmlAttributes: new { @class = "label" })
                        <div>
                            @Html.EditorFor(model => model.urlAudio, new { htmlAttributes = new { @class = "inputData" } })
                            @Html.ValidationMessageFor(model => model.urlAudio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <div>
                        <div style="text-align:center;">
                            <input type="submit" value="Submit" class="btnSubmit" />
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
        }
            </div>
    </div>
</body>
</html>
